<aside>
  <form class="search-form" (submit)="$event.preventDefault()">
    <mat-form-field class="example-full-width">
      <!-- <mat-label>Search videos</mat-label> -->
      <input matInput [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search" (ngModelChange)="onSearchTermChange($event)">
      <button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <!-- Loading state -->
  @if (loading$ | async) {
    <div class="loading">Loading videos...</div>
  }

  <!-- Error state -->
  @if (error$ | async; as error) {
    <div class="error">Error loading videos: {{ error }}</div>
  }

  <!-- Video list -->
  @if (filteredVideos$ | async; as videos) {
    <mat-list role="list">
      @for (video of videos; track video.id) {
        <mat-list-item role="listitem" [routerLink]="['/video', video.id]" (click)="selectVideo(video.id)" class="video-item" [ngClass]="{ 'selected': (selectedVideoId$ | async) === video.id }">
          <mat-icon *ngIf="(selectedVideoId$ | async) === video.id">pause</mat-icon>
          <mat-icon *ngIf="(selectedVideoId$ | async) !== video.id">play_arrow</mat-icon>
          <span class="text">{{video.title}}</span>
        </mat-list-item>
      }
    </mat-list>

    <mat-paginator [length]="videos.length"
      [pageSize]="6"
      aria-label="Select page">
    </mat-paginator>
  }

</aside>
