<aside>

  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form> -->

  <mat-list role="list">
    @for (video of videos; track $index) {
      <mat-list-item role="listitem">
        <mat-icon>play_arrow</mat-icon>
        <mat-icon>pause</mat-icon>
        <span class="text">{{video.title}}</span>
      </mat-list-item>
    }
  </mat-list>

  <mat-paginator [length]="100"
    [pageSize]="6"
    aria-label="Select page">
</mat-paginator>

</aside>
