<aside>

  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form> -->

  <!-- Loading state -->
  @if (loading$ | async) {
    <div class="loading">Loading videos...</div>
  }

  <!-- Error state -->
  @if (error$ | async; as error) {
    <div class="error">Error loading videos: {{ error }}</div>
  }

  <!-- Video list -->
  @if (videos$ | async; as videos) {
    <mat-list role="list">
      @for (video of videos; track video.id) {
        <mat-list-item
          role="listitem"
          (click)="selectVideo(video.id)"
          class="video-item"
          [ngClass]="{ 'selected': video.id === (selectedVideoId$ | async) }"
        >
          @if (video.id === (selectedVideoId$ | async)) {
            <mat-icon [hidden]="video.id === (selectedVideoId$ | async)">pause</mat-icon>
          }
          @else {
            <mat-icon [hidden]="video.id === (selectedVideoId$ | async)">play_arrow</mat-icon>
          }
          <span class="text">{{video.title}}</span>
        </mat-list-item>
      }
    </mat-list>

    <mat-paginator [length]="videos.length"
      [pageSize]="6"
      aria-label="Select page">
    </mat-paginator>
  }

</aside>
